<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> </title>
  <link rel="icon" href="/icon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.common.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js"></script>
  <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=DOTBZ-NKEWF-MDHJS-JARVI-6NZI6-ASBKI"></script>
  <script src="https://apis.map.qq.com/tools/geolocation/min?key=DOTBZ-NKEWF-MDHJS-JARVI-6NZI6-ASBKI&referer=luotuostore"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
